.card-input {
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #2a363b;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin: 8px;
    resize: none;
    background-color: #2a363b;
    color: #fff;
    overflow: auto;
}

.card-input:hover {
    border-color: #fff;
}

.card-input:focus {
    padding: 11px 19px;
    border: 2px solid #e84a5F;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}